// FONT
$font-family: "Source Sans Pro", sans-serif;
$family-fixed: "Courier New", monospace;
$weight_light: 300;
$weight: 400;
$weight_semi-bold: 600;
$weight_bold: 700;
$weight_black: 800;

// COLOR
$black: #000;
$white: #fff;
$bg: #f2f6fb;
$bg2: #fff7ee;

$button: #033fff;

$color_gray: #444;
$color_gray-bold: #555555;
$color_gray-light: #979797;

$border: #efefef;
$border_bg: #f7f7f7;
$border2: #dfdfdf;
$border2-bg: #e7e7e7;

// SIZE
$size_border-radius: 0.35em;
$size_xxsmall: 13px;
$size_xsmall: 14px;
$size_small: 15px;
$size_regular: 16px;
$size_medium: 17px;
$size_large: 18px;
$size_xlarge: 19px;
$size_xxlarge: 20px;
$size_xxxlarge: 21px;
$size_xxxxlarge: 22px;

$size_element-height: 2.75em;
$size_element-margin: 2em;
$size_element-margin_small: 1em;

// @mixin skel-breakpoints($x: ()) {
//   $breakpoints: $x !global;
// }
$media_xlarge: "max-width: 1800px";
$media_large: "max-width: 1280px";
$media_medium: "max-width: 980px";
$media_small: "max-width: 736px";
$media_xsmall: "max-width: 480px";
