@import "vars";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

// BASE STYLES
// -----------------------------------------
body {
  background: $bg;
}

body,
input,
select,
textarea {
  color: $black;
  font-weight: $weight;
  font-size: $size_xxsmall;
  line-height: $size_regular;
}

p,
a,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
}

h1 {
  font-size: $size_xxxxlarge;
  line-height: 26.25px;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}

h5 {
  font-size: 0.9em;
  line-height: 1.5em;
}

a {
  transition: all ease-in-out 0.3;
}

button {
  cursor: pointer;
  color: $button;
}

.flex {
  display: flex;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $color_gray-light;
  border-color: $color_gray-light transparent $color_gray-light transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page-container {
  height: 100%;
  padding-top: 112px;
}

.loading-page {
  padding: 30px 0;
  text-align: center;
  position: relative;
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.section-header {
  .header {
    margin-bottom: 8px;
  }

  .subhead {
    color: $color_gray-bold;
    font-size: $size_regular;
    font-weight: $weight;
    line-height: 24px;
    letter-spacing: 0em;
  }
}

// ANCHOR/ LINK STYLES
// -----------------------------------------
.button {
  font-weight: $weight_bold;
  font-size: $size_xsmall;
  line-height: $size_medium;
  min-height: 40px;
  border: 1.5px solid rgba($black, 0.08);
  border-radius: 12px;
  width: 100%;
}

.btn_copy-clipboard {
  background: $white;
}

.link_arrow {
  position: absolute;
  right: 0px;
  top: 50px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.link_invite {
  border: none;
  font-size: $size_small;
  line-height: $size_large;
  letter-spacing: -0.003em;
  text-decoration-line: underline;
  height: 34px;
  padding: 8px;
  margin: 24px auto;
  background: $white;
  border-radius: 12px;
}

// ICON STYLES
// -----------------------------------------
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.icon_status {
  background-image: url("../images/check.png");
}

.icon_clipboard {
  background-image: url("../images/clipboard.png");
}

.icon_clock {
  background-image: url("../images/clock.png");
}

.icon_expense {
  background-image: url("../images/expense.png");
}

.icon_chevron-right {
  background-image: url("../images/chevron-right.png");
}

// NAVBAR STYLES
// -----------------------------------------
.navbar {
  background: $bg;
  min-height: 64px;
}

.home-logo {
  color: black;
  font-family: $font-family;
  font-size: $size_large;
  font-weight: $weight_bold;
  line-height: $size_xxxlarge;
  letter-spacing: 0em;
}

.navbar_toggler {
  justify-content: flex-end;
}

.nav-item {
  // font-size: $size_regular;
  // font-weight: $weight_semi-bold;
  // line-height: $size_xlarge;
  // border-radius: 12px;
  padding: 8px 16px;
  // margin: 0;
}

.nav-link {
  font-size: $size_regular;
  font-weight: $weight_semi-bold;
  line-height: $size_xlarge;
  border-radius: 12px;
  padding: 8px 16px;
  margin: 0;
  &.active {
    background: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  }
}

// DASHBOARD STYLES
// -----------------------------------------
#dashboard {
  .section-content {
    display: flex;
    padding-top: 11px;
  }

  .column_people,
  .loading-page {
    flex: 2;
  }

  .column_invite-people {
    flex: 1;
  }

  // PEOPLE COLUMN SECTION

  .staff-card {
    background: rgba($white, 0.94);
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    border-radius: 12px;
    margin-bottom: 24px;
    margin-right: 24px;
    max-width: 650px;
    &:first-child {
      margin-top: 12px;
    }
  }

  .card_header {
    display: flex;
    align-items: center;
    padding: 16px 0;
    position: relative;

    .avatar {
      margin-right: 24px;
      width: 64px;
      border-radius: 500rem;
      background: rgba($white, 0.94);
      border: 1.5px solid $white;
      box-shadow: 0px 3px 16px rgba($black, 0.12);
    }

    .header {
      font-size: $size_medium;
      font-weight: $weight_bold;
      line-height: 20px;
    }

    .description {
      color: $color_gray-light;
      font-size: $size_xxsmall;
      font-weight: $weight;
      line-height: 19px;
    }
  }

  .card_stat,
  .card_status {
    border-top: 1px solid rgba($black, 0.08);
    padding: 16px 0;
    display: flex;
    & > * {
      display: flex;
      align-items: center;
      padding: 6px;
      margin-bottom: 0;
      margin-right: 8px;
    }
  }

  .stat {
    border: 1.5px solid rgba($black, 0.04);
    border-radius: 8px;
  }

  // INVITE PEOPLE COLUMN SECTION
  .column_invite-people {
    .card {
      text-align: center;
      background: $bg2;
      padding: 24px;
      border: none;
      border-radius: 12px;

      button {
        display: block;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .image {
      background: $white;
      border: 1.5px solid $white;
      box-shadow: 0px 3px 16px rgba($black, 0.12);
      border-radius: 48px;
    }

    .header {
      font-weight: $weight_bold;
      font-size: $size_medium;
      line-height: $size_xxlarge;
      margin-top: 24px;
      margin-bottom: 16px;
    }

    .subhead {
      color: #979797;
      font-weight: $weight;
      font-size: $size_small;
      line-height: $size_large;
    }
  }
}

// MEDIA BREAKPOINTS
// -----------------------------------------

//XSmall
@media screen and ($media_xsmall) {
  #navbar {
    display: none;
  }
  #mobileNavbar {
    display: block;
  }
  #dashboard {
    .section-content {
      flex-direction: column;
      align-items: center;
    }

    .staff-card {
      margin-right: 0;
    }
  }
}
