@import "vars";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

// BASE STYLES
body {
  background: $bg;
}

body,
input,
select,
textarea {
  color: $black;
  font-weight: $weight;
  font-size: $size_xxsmall;
  line-height: $size_regular;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
}

h1 {
  font-size: $size_xxxxlarge;
  line-height: 26.25px;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}

h5 {
  font-size: 0.9em;
  line-height: 1.5em;
}

a {
  transition: all ease-in-out 0.3;
}

.flex {
  display: flex;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $color_gray-light;
  border-color: $color_gray-light transparent $color_gray-light transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page-container {
  height: 100%;
  padding-top: 48px;
}

.loading-page {
  padding: 30px 0;
  text-align: center;
  position: relative;
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.section-heading {
  margin-bottom: 8px;
}

.section-heading_subhead {
  color: $color_gray-bold;
  font-size: $size_regular;
  font-weight: $weight;
  line-height: 24px;
  letter-spacing: 0em;
}

// NAVBAR STYLES
#navbar {
  height: 64px;
  display: flex;
  justify-content: flex-end;

  .home-logo {
    color: black;
    font-family: $font-family;
    font-size: $size_large;
    font-weight: $weight_bold;
    line-height: $size_xxxlarge;
    letter-spacing: 0em;
  }

  a.item {
    font-size: $size_regular;
    font-weight: $weight_semi-bold;
    line-height: $size_xlarge;
    &.active {
      background: none;
    }
    &:hover {
      background: none;
    }
  }
}

// DASHBOARD STYLES
#dashboard {
  .section-content {
    display: flex;
    padding-top: 11px;
    & > * {
      // border: 1px dashed violet;
    }
  }

  .column_people,
  .loading-page {
    flex: 2;
  }

  .column_invite-people {
    flex: 1;
  }

  .staff-card {
    background: rgba(255, 255, 255, 0.94);
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    border-radius: 12px;
    margin-bottom: 24px;
    margin-right: 24px;
    max-width: 650px;
    &:first-child {
      margin-top: 12px;
    }
  }

  .card_header {
    padding: 16px 0;
    position: relative;

    .avatar {
      float: left;
      margin-right: 24px;
      width: 64px;
      border-radius: 500rem;
      background: rgba(255, 255, 255, 0.94);
      border: 1.5px solid #ffffff;
      box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.12);
    }
    .card_container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 63px;
    }
    .header {
      font-size: $size_medium;
      font-weight: $weight_bold;
      line-height: 20px;
    }
    .description {
      color: $color_gray-light;
      font-size: $size_xxsmall;
      font-weight: $weight;
      line-height: 19px;
    }
  }

  .card_stat,
  .card_status {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    padding: 16px 0;
    display: flex;
    & > * {
      display: flex;
      align-items: center;
      padding: 6px;
      margin-bottom: 0;
      margin-right: 8px;
    }
  }

  .stat {
    border: 1.5px solid rgba(0, 0, 0, 0.04);
    border-radius: 8px;
  }

  .icon {
    display: inline-block;
    margin-right: 6px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  .status-icon {
    background-image: url("../images/check.png");
  }

  .clipboard-icon {
    background-image: url("../images/clipboard.png");
  }

  .clock-icon {
    background-image: url("../images/clock.png");
  }

  .expense-icon {
    background-image: url("../images/expense.png");
  }

  .right-arrow-icon {
    position: absolute;
    right: 15px;
    top: 45px;
    transform: translateY(-50%);
    background-image: url("../images/chevron-right.png");
    background-repeat: no-repeat;
    height: 17px;
    width: 20px;
  }
}
